* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
/* banner edits */
header {
  /* display: flex; */
  /* width: 100vw;
    height: 50vh; */
  background-image: url("images/banner/banner2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/* banner div  */
.banner-items {
  text-align: right;
  padding: 10% 0;
  padding-left: 40%;
  padding-right: 5%;
}
/* banner common */
.banner-title,
.banner-description {
  padding: 24px 0;
}
/* banner item individual styles */
.banner-tile {
  color: #151414;
  /* color:red; */
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}
.banner-description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.banner-btn {
  padding: 20px 25px;
  border-radius: 5px;
  background: #f15b22;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  border: 0;
}
/* failure section here */
.failures {
  display: flex;
  margin-top: 130px;
  margin-bottom: 130px;
  margin-left: 230px;
  margin-right: 320px;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  height: 70vh;
}
.fail-img {
  width: 450px;
  padding: 20px;
}
.failed-title {
  padding-right: 120px;
  padding-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
}
.failed-text,
.failed-list {
  padding-bottom: 16px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
/* plans section */
.plans {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.box {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.box-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 16px;
}
.box-description {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.mindset {
  width: 1140px;
  margin: auto;
  margin-bottom: 130px;
  margin-top: 130px;
}
.mindset-bg {
  background-image: url("./images/gradient2.png"), url("./images/watch.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat no-repeat;
  /* padding: 5%; */
}
.mindset-title {
  color: white;
  font-size: 40px;
  padding: 60px 600px 24px 60px;
}
.secondary-btn {
  color: #f15b22;
  background-color: white;
  padding: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 60px;
  margin-bottom: 60px;
  border: 0;
}
